# Data Cleaning
Data downloaded from the wris site needs to be cleaned and placed into a single final dataframe.<br>
Firstly, let's try cleaning a single dataframe and then making that into a function to do it for all the other similar datasets.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel(
    io = '../Data/groundwater_Report of Trends of Water Level_ArunachalPradesh.xls',
    sheet_name = 1,
    skiprows = 4,
    index_col = [1,2,3,4]
)
df = df.replace(' ', np.nan)
del df['S.NO.']
del df['Site ID']
m = []
for i in range(52):
    if i%2 == 0:
        m.append('Pre')
    else:
        m.append('Post')
MI = pd.DataFrame({
    'Year' : [int(i) for i in np.arange(1994, 2020, 0.5)],
    'Monsoon' : m
})
MI = pd.MultiIndex.from_frame(MI)
df.columns = MI
df = df.iloc[1:]
df.head()

Year                                                        1994      1995  \
Monsoon                                                      Pre Post  Pre
State             District   Tehsil/Block Site Name
ARUNACHAL PRADESH CHANGLANG  KHAGAM(MIAO) Jairampur          NaN  NaN  NaN
                                          Namchik            NaN  NaN  NaN
                                          Namphai            NaN  NaN  NaN
                                          Newlisan Kharsang  NaN  NaN  NaN
                  EAST SIANG KOYU         Berung             NaN  NaN  NaN

Year                                                              1996        \
Monsoon                                                     Post   Pre  Post
State             District   Tehsil/Block Site Name
ARUNACHAL PRADESH CHANGLANG  KHAGAM(MIAO) Jairampur          NaN  4.03  1.29
                                          Namchik            NaN  2.05  4.12
                                          Namphai            NaN  1.74  2.17
                                          Newlisan Kharsang  NaN  3.93   4.6
                  EAST SIANG KOYU         Berung             NaN   NaN   NaN

Year                                                        1997        1998  \
Monsoon                                                      Pre  Post   Pre
State             District   Tehsil/Block Site Name
ARUNACHAL PRADESH CHANGLANG  KHAGAM(MIAO) Jairampur          5.1  2.28   4.5
                                          Namchik            4.7  4.15  3.75
                                          Namphai            3.5  2.71  3.85
                                          Newlisan Kharsang  4.8  4.43   3.0
                  EAST SIANG KOYU         Berung             NaN   NaN   NaN

Year                                                               ...  2015  \
Monsoon                                                      Post  ...   Pre
State             District   Tehsil/Block Site Name                ...
ARUNACHAL PRADESH CHANGLANG  KHAGAM(MIAO) Jairampur           5.1  ...   4.5
                                          Namchik            3.82  ...   1.0
                                          Namphai            1.89  ...  3.42
                                          Newlisan Kharsang  4.88  ...  3.47
                  EAST SIANG KOYU         Berung              NaN  ...  2.72

Year                                                               2016        \
Monsoon                                                      Post   Pre  Post
State             District   Tehsil/Block Site Name
ARUNACHAL PRADESH CHANGLANG  KHAGAM(MIAO) Jairampur           3.0  2.42  5.68
                                          Namchik            2.77   4.1  3.35
                                          Namphai             2.6   2.8  3.33
                                          Newlisan Kharsang   4.3   3.6  4.98
                  EAST SIANG KOYU         Berung             2.25  2.29  2.29

Year                                                         2017        2018  \
Monsoon                                                       Pre  Post   Pre
State             District   Tehsil/Block Site Name
ARUNACHAL PRADESH CHANGLANG  KHAGAM(MIAO) Jairampur          1.32   3.9  2.27
                                          Namchik            4.57  3.03  4.22
                                          Namphai            2.45  1.96  2.96
                                          Newlisan Kharsang  3.01  1.95  3.76
                  EAST SIANG KOYU         Berung             2.29  2.29  2.29

Year                                                               2019
Monsoon                                                      Post   Pre  Post
State             District   Tehsil/Block Site Name
ARUNACHAL PRADESH CHANGLANG  KHAGAM(MIAO) Jairampur           3.7  5.29  2.45
                                          Namchik             4.3  4.32  3.52
                                          Namphai             3.0  3.31   2.1
                                          Newlisan Kharsang  5.43  5.48  4.83
                  EAST SIANG KOYU         Berung             2.29   NaN   NaN

[5 rows x 52 columns]

The above code block solves our current cleaning problem for one specific state which needs to be written into a function so that all the other datasets can also be placed into our final dataframe.

In [3]:
final_df = pd.DataFrame()
def clean_combine(loc):
    df = pd.read_excel(
        io = loc,
        sheet_name = 1,
        skiprows = 4,
        index_col = [1,2,3,4]
    )
    df = df.replace(' ', np.nan)
    del df['S.NO.']
    del df['Site ID']
    m = []
    for i in range(52):
        if i%2 == 0:
            m.append('Pre')
        else:
            m.append('Post')
    MI = pd.DataFrame({
        'Year' : [int(i) for i in np.arange(1994, 2020, 0.5)],
        'Monsoon' : m
    })
    MI = pd.MultiIndex.from_frame(MI)
    df.columns = MI
    df = df.iloc[1:]
    global final_df
    final_df = final_df.append(df)

The above code block creates an empty dataframe and a function that adds data onto the dataframe once ran using the file location.

In [4]:
loc = '''groundwater_Report of Trends of Water Level_Andaman.xls
4 days ago5.28 kB
groundwater_Report of Trends of Water Level_AndhraPradesh.xls
4 days ago168 kB
groundwater_Report of Trends of Water Level_ArunachalPradesh.xls
4 days ago9.84 kB
groundwater_Report of Trends of Water Level_Assam.xls
4 days ago96.6 kB
groundwater_Report of Trends of Water Level_Bihar.xls
4 days ago132 kB
groundwater_Report of Trends of Water Level_Chandigarh.xls
4 days ago9.66 kB
groundwater_Report of Trends of Water Level_Chhattisgarh.xls
4 days ago143 kB
groundwater_Report of Trends of Water Level_DadraNagar.xls
4 days ago7.68 kB
groundwater_Report of Trends of Water Level_DamanDiu.xls
4 days ago6.86 kB
groundwater_Report of Trends of Water Level_Delhi.xls
4 days ago39.2 kB
groundwater_Report of Trends of Water Level_Goa.xls
4 days ago20 kB
groundwater_Report of Trends of Water Level_Gujarat.xls
4 days ago321 kB
groundwater_Report of Trends of Water Level_Haryana.xls
4 days ago145 kB
groundwater_Report of Trends of Water Level_HimachalPradesh.xls
4 days ago36.2 kB
groundwater_Report of Trends of Water Level_JammuKashmir.xls
4 days ago55.1 kB
groundwater_Report of Trends of Water Level_Jharkhand.xls
4 days ago86.1 kB
groundwater_Report of Trends of Water Level_Karantaka.xls
3 days ago407 kB
groundwater_Report of Trends of Water Level_Kerala.xls
3 days ago263 kB
groundwater_Report of Trends of Water Level_Ladakh.xls
3 days ago5.28 kB
groundwater_Report of Trends of Water Level_Lakshadweep.xls
3 days ago3.92 kB
groundwater_Report of Trends of Water Level_MadhyaPradesh.xls
3 days ago437 kB
groundwater_Report of Trends of Water Level_Maharashtra.xls 
3 days ago464 kB
groundwater_Report of Trends of Water Level_Manipur.xls
3 days ago5.28 kB
groundwater_Report of Trends of Water Level_Meghalaya.xls
3 days ago16.7 kB
groundwater_Report of Trends of Water Level_Mizoram.xls
3 days ago3.92 kB
groundwater_Report of Trends of Water Level_Nagaland.xls
3 days ago10 kB
groundwater_Report of Trends of Water Level_Odisha.xls
3 days ago337 kB
groundwater_Report of Trends of Water Level_Pondicherry.xls
3 days ago9.06 kB
groundwater_Report of Trends of Water Level_Punjab.xls
3 days ago83.6 kB
groundwater_Report of Trends of Water Level_Rajasthan.xls
3 days ago385 kB
groundwater_Report of Trends of Water Level_Sikkim.xls
3 days ago3.92 kB
groundwater_Report of Trends of Water Level_TamilNadu.xls
3 days ago320 kB
groundwater_Report of Trends of Water Level_Telangana.xls
3 days ago143 kB
groundwater_Report of Trends of Water Level_Tripura.xls
3 days ago16.3 kB
groundwater_Report of Trends of Water Level_Uttarakhand.xls
3 days ago22.7 kB
groundwater_Report of Trends of Water Level_UttarPradesh.xls
3 days ago379 kB
groundwater_Report of Trends of Water Level_WestBengal.xls
3 days ago283 kB'''
loc = loc.split('\n')[::2]
loc = ['../Data/' + i for i in loc]

We have a list of all the file locations in `loc` from which we'll also have to identify the states which have no data before we dive into creating the final dataset.

In [5]:
No_Data = list()
j = 0
for i in range(len(loc)):
    if pd.read_excel(loc[i - j]).iloc[5,0] == 'NO DATA AVAILABLE':
        No_Data.append(loc.pop(i - j))
        j += 1
No_Data

['../Data/groundwater_Report of Trends of Water Level_Andaman.xls',
 '../Data/groundwater_Report of Trends of Water Level_Ladakh.xls',
 '../Data/groundwater_Report of Trends of Water Level_Lakshadweep.xls',
 '../Data/groundwater_Report of Trends of Water Level_Manipur.xls',
 '../Data/groundwater_Report of Trends of Water Level_Mizoram.xls',
 '../Data/groundwater_Report of Trends of Water Level_Sikkim.xls']

Now that we've extracted all the empty datasets, we can append the remaining to our `final_df` through the function we made.

In [6]:
for i in loc:
    clean_combine(loc = i)

In [7]:
final_df.head()

Year                                                  1994      1995       \
Monsoon                                                Pre Post  Pre Post
State          District  Tehsil/Block Site Name
ANDHRA PRADESH ANANTAPUR AMARAPURAM   Gorantla         NaN  NaN  NaN  NaN
                                      Govinavaripalli  NaN  NaN  NaN  NaN
                                      Palasamudram     NaN  NaN  NaN  NaN
                         ANANTAPUR    Anantapur-PZ     NaN  NaN  NaN  NaN
                         ATMAKUR_ATP  Atmakur-PZ       NaN  NaN  NaN  NaN

Year                                                    1996          1997  \
Monsoon                                                  Pre   Post    Pre
State          District  Tehsil/Block Site Name
ANDHRA PRADESH ANANTAPUR AMARAPURAM   Gorantla          8.81   3.88   5.98
                                      Govinavaripalli   8.68   0.68    3.5
                                      Palasamudram      6.72   2.42   3.99
                         ANANTAPUR    Anantapur-PZ     17.66  12.32  10.42
                         ATMAKUR_ATP  Atmakur-PZ       11.27   6.25   8.38

Year                                                           1998        \
Monsoon                                                 Post    Pre  Post
State          District  Tehsil/Block Site Name
ANDHRA PRADESH ANANTAPUR AMARAPURAM   Gorantla          5.91   8.18  5.32
                                      Govinavaripalli   4.93   5.92  1.41
                                      Palasamudram      1.85   5.29  0.88
                         ANANTAPUR    Anantapur-PZ     10.04  11.31   9.2
                         ATMAKUR_ATP  Atmakur-PZ        9.76  11.51  7.83

Year                                                   ...  2015        2016  \
Monsoon                                                ...   Pre  Post   Pre
State          District  Tehsil/Block Site Name        ...
ANDHRA PRADESH ANANTAPUR AMARAPURAM   Gorantla         ...  3.26  3.26  3.26
                                      Govinavaripalli  ...  9.88  9.88  9.88
                                      Palasamudram     ...  1.37  0.97  0.97
                         ANANTAPUR    Anantapur-PZ     ...  6.33  5.36   6.6
                         ATMAKUR_ATP  Atmakur-PZ       ...  15.5  15.5  11.3

Year                                                         2017         \
Monsoon                                                Post   Pre   Post
State          District  Tehsil/Block Site Name
ANDHRA PRADESH ANANTAPUR AMARAPURAM   Gorantla         3.26   NaN    NaN
                                      Govinavaripalli  9.88  9.88   9.88
                                      Palasamudram     1.17  1.77   1.07
                         ANANTAPUR    Anantapur-PZ      7.8  7.94   6.27
                         ATMAKUR_ATP  Atmakur-PZ       14.9  8.14  10.17

Year                                                   2018         2019
Monsoon                                                 Pre  Post    Pre  Post
State          District  Tehsil/Block Site Name
ANDHRA PRADESH ANANTAPUR AMARAPURAM   Gorantla          NaN   NaN    NaN   NaN
                                      Govinavaripalli   NaN   NaN    NaN   NaN
                                      Palasamudram     1.09  1.17   2.17  0.22
                         ANANTAPUR    Anantapur-PZ     7.95  9.82    9.6  7.22
                         ATMAKUR_ATP  Atmakur-PZ       48.5  15.8  11.09  9.85

[5 rows x 52 columns]

There we have it but looks like we have NaNs in the first four columns.

In [8]:
final_df.apply(lambda x: x.isna().sum() * 100 / final_df.shape[0]).head()

Year  Monsoon
1994  Pre        94.447547
      Post       94.208217
1995  Pre        87.331472
      Post       87.275628
1996  Pre        24.052653
dtype: float64

That much percentage of data in each column has only NaNs.<br>
Which suggests us to get rid of the data corresponding to 1994 and 1995.

In [9]:
final_df = final_df.iloc[:,4:]
final_df.sample()

Year                                     1996       1997        1998       \
Monsoon                                   Pre Post   Pre  Post   Pre Post
State   District Tehsil/Block Site Name
GUJARAT ANAND    UMRETH       Ghora      2.88  2.0  2.26  1.92  1.43  2.0

Year                                    1999       2000        ...  2015       \
Monsoon                                  Pre  Post  Pre  Post  ...   Pre Post
State   District Tehsil/Block Site Name                        ...
GUJARAT ANAND    UMRETH       Ghora      2.1  2.36  5.4  7.05  ...  6.34  3.4

Year                                     2016        2017       2018       \
Monsoon                                   Pre  Post   Pre  Post  Pre Post
State   District Tehsil/Block Site Name
GUJARAT ANAND    UMRETH       Ghora      7.41  3.81  7.11  5.81  5.5  5.5

Year                                     2019
Monsoon                                   Pre  Post
State   District Tehsil/Block Site Name
GUJARAT ANAND    UMRETH       Ghora      4.78  10.3

[1 rows x 48 columns]

That being done, our final dataset is ready.<br>
Let's just feed it and `No_Data` to our data folder.

In [10]:
q = dict()
q['DADRA AND NAGAR HAV'] = 'DADRA AND NAGAR HAVELI'
q['DAMAN & DIU'] = 'DAMAN AND DIU'
q['DELHI'] = 'NCT OF DELHI'
q['JAMMU & KASHMIR'] = 'JAMMU AND KASHMIR'
q['PONDICHERRY'] = 'PUDUCHERRY'
q['TAMILNADU'] = 'TAMIL NADU'

In [11]:
ind = final_df.index.to_frame()
ind['State'] = ind['State'].replace(q)
ind['District'] = ind['District'].apply(lambda i : i.lower())
final_df.index = pd.MultiIndex.from_frame(ind.applymap(lambda i : i.title()))
final_df.head()

Year                                                    1996          1997  \
Monsoon                                                  Pre   Post    Pre
State          District  Tehsil/Block Site Name
Andhra Pradesh Anantapur Amarapuram   Gorantla          8.81   3.88   5.98
                                      Govinavaripalli   8.68   0.68    3.5
                                      Palasamudram      6.72   2.42   3.99
                         Anantapur    Anantapur-Pz     17.66  12.32  10.42
                         Atmakur_Atp  Atmakur-Pz       11.27   6.25   8.38

Year                                                           1998        \
Monsoon                                                 Post    Pre  Post
State          District  Tehsil/Block Site Name
Andhra Pradesh Anantapur Amarapuram   Gorantla          5.91   8.18  5.32
                                      Govinavaripalli   4.93   5.92  1.41
                                      Palasamudram      1.85   5.29  0.88
                         Anantapur    Anantapur-Pz     10.04  11.31   9.2
                         Atmakur_Atp  Atmakur-Pz        9.76  11.51  7.83

Year                                                   1999          2000  \
Monsoon                                                 Pre   Post    Pre
State          District  Tehsil/Block Site Name
Andhra Pradesh Anantapur Amarapuram   Gorantla          7.7   7.25   8.66
                                      Govinavaripalli  4.47    5.4   6.15
                                      Palasamudram      5.5   1.48   2.64
                         Anantapur    Anantapur-Pz     10.7   9.94  10.47
                         Atmakur_Atp  Atmakur-Pz       10.3  12.34  13.38

Year                                                          ...  2015        \
Monsoon                                                 Post  ...   Pre  Post
State          District  Tehsil/Block Site Name               ...
Andhra Pradesh Anantapur Amarapuram   Gorantla          5.96  ...  3.26  3.26
                                      Govinavaripalli   2.74  ...  9.88  9.88
                                      Palasamudram      0.22  ...  1.37  0.97
                         Anantapur    Anantapur-Pz      9.46  ...  6.33  5.36
                         Atmakur_Atp  Atmakur-Pz       13.79  ...  15.5  15.5

Year                                                   2016        2017  \
Monsoon                                                 Pre  Post   Pre
State          District  Tehsil/Block Site Name
Andhra Pradesh Anantapur Amarapuram   Gorantla         3.26  3.26   NaN
                                      Govinavaripalli  9.88  9.88  9.88
                                      Palasamudram     0.97  1.17  1.77
                         Anantapur    Anantapur-Pz      6.6   7.8  7.94
                         Atmakur_Atp  Atmakur-Pz       11.3  14.9  8.14

Year                                                          2018        \
Monsoon                                                 Post   Pre  Post
State          District  Tehsil/Block Site Name
Andhra Pradesh Anantapur Amarapuram   Gorantla           NaN   NaN   NaN
                                      Govinavaripalli   9.88   NaN   NaN
                                      Palasamudram      1.07  1.09  1.17
                         Anantapur    Anantapur-Pz      6.27  7.95  9.82
                         Atmakur_Atp  Atmakur-Pz       10.17  48.5  15.8

Year                                                    2019
Monsoon                                                  Pre  Post
State          District  Tehsil/Block Site Name
Andhra Pradesh Anantapur Amarapuram   Gorantla           NaN   NaN
                                      Govinavaripalli    NaN   NaN
                                      Palasamudram      2.17  0.22
                         Anantapur    Anantapur-Pz       9.6  7.22
                         Atmakur_Atp  Atmakur-Pz       11.09  9.85

[5 rows x 48 columns]

In [12]:
pd.to_pickle(
    obj = No_Data,
    filepath_or_buffer = '../Data/Empty_States.pkl'
)

In [13]:
df = final_df.copy()
final_df = final_df.apply(lambda i : i.astype('float'))
final_df = final_df.groupby(['State', 'District']).mean()
final_df.head()

Year                               1996                1997            \
Monsoon                             Pre      Post       Pre      Post
State          District
Andhra Pradesh Anantapur      11.581395  5.163182  8.148636  6.995000
               Chittoor        7.979118  3.064857  6.480286  4.905143
               East Godavari   3.989000  1.356000  3.730000  2.442667
               Guntur          4.885600  2.504000  4.650400  2.614000
               Krishna         4.537826  2.001304  4.201739  2.991739

Year                              1998                1999            \
Monsoon                            Pre      Post       Pre      Post
State          District
Andhra Pradesh Anantapur      9.438864  5.399545  8.072955  7.090227
               Chittoor       7.500000  4.547143  7.236000  7.246571
               East Godavari  4.128000  3.157419  4.862903  4.419118
               Guntur         5.063200  2.987200  4.558400  3.965200
               Krishna        4.793913  2.826522  5.016522  4.312800

Year                              2000            ...      2015            \
Monsoon                            Pre      Post  ...       Pre      Post
State          District                           ...
Andhra Pradesh Anantapur      9.762045  5.480682  ...  9.777500  7.975897
               Chittoor       7.958857  6.189143  ...  9.147353  7.591515
               East Godavari  4.710286  3.392286  ...  4.448824  3.735588
               Guntur         4.718800  2.888400  ...  5.605806  4.813871
               Krishna        5.380400  3.152800  ...  5.662800  4.473200

Year                              2016                 2017            \
Monsoon                            Pre      Post        Pre      Post
State          District
Andhra Pradesh Anantapur      9.458974  9.937949  12.611316  7.752973
               Chittoor       6.116452  6.591379   8.715769  5.340833
               East Godavari  8.298182  3.079375   8.972500  2.601333
               Guntur         5.969677  3.649655   5.960690  3.919310
               Krishna        6.236667  3.810870   6.112174  4.913182

Year                               2018                  2019
Monsoon                             Pre       Post        Pre      Post
State          District
Andhra Pradesh Anantapur      11.002857  10.207059  12.710882  7.668824
               Chittoor        8.071739   8.992609   9.406364  7.654545
               East Godavari   9.932414   3.013448   9.457586  2.773929
               Guntur          6.018966   5.088276   6.287143  3.209259
               Krishna         6.801818   4.614348   5.963478  4.122609

[5 rows x 48 columns]

In [14]:
States = final_df.groupby('State').mean()
States.head()

Year                   1996                 1997                 1998  \
Monsoon                 Pre      Post        Pre      Post        Pre
State
Andhra Pradesh     6.370189  2.746150   5.589155  3.905588   6.195650
Arunachal Pradesh  2.965833  2.743889   3.246250  3.881042   3.038750
Assam              3.032256  2.555357   3.567855  3.005254   3.110443
Bihar              4.956655  3.260254   4.902909  3.097547   4.712099
Chandigarh         8.712500  8.925000  10.096667  9.971667  10.071667

Year                              1999                  2000             ...  \
Monsoon                Post        Pre       Post        Pre       Post  ...
State                                                                    ...
Andhra Pradesh     3.262409   6.157755   5.215534   6.496116   3.983910  ...
Arunachal Pradesh  3.316042   3.854167   4.596458   4.912708   4.427083  ...
Assam              2.756638   3.776077   2.709084   3.219778   3.026031  ...
Bihar              2.873648   4.701013   3.045824   4.650879   3.084285  ...
Chandigarh         9.433333  11.412857  13.161111  13.595000  13.750000  ...

Year                    2015                  2016                  2017  \
Monsoon                  Pre       Post        Pre       Post        Pre
State
Andhra Pradesh      6.871261   5.350703   6.617692   5.285926   7.901651
Arunachal Pradesh   5.426042   3.645208   4.685000   3.430000   4.946458
Assam               3.697708   2.674555   4.022540   3.091223   3.854004
Bihar               5.181772   4.305143   5.719900   3.412368   5.270182
Chandigarh         18.251818  16.664545  16.969091  18.476364  19.495000

Year                               2018                  2019
Monsoon                 Post        Pre       Post        Pre       Post
State
Andhra Pradesh      4.597500   7.355833   5.959838   7.748940   4.521017
Arunachal Pradesh   4.072083   4.735208   4.179375   5.787500   4.822083
Assam               2.765975   3.540041   3.087709   3.665029   2.899018
Bihar               3.659309   5.645378   3.847776   5.994683   3.512970
Chandigarh         18.954000  19.689000  17.628182  18.203636  16.660909

[5 rows x 48 columns]

In [15]:
States.to_csv('../Data/States.csv')

In [16]:
guy = {'Andhra Pradesh_Sri Potti Sriramulu Nellore': 'Andhra Pradesh_Nellore',
 'Assam_Marigaon': 'Assam_Morigaon',
 'Bihar_Kaimur (Bhabua)': 'Bihar_Kaimur',
 'Bihar_Saran (Chhapra)': 'Bihar_Saran',
 'Chhattisgarh_Dakshin Bastar Dantewada': 'Chhattisgarh_Dantewada',
 'Dadra And Nagar Haveli_Dadra & Nagar Haveli': 'Dadra and Nagar Haveli_Dadra and Nagar Haveli',
 'Daman And Diu_Daman': 'Daman and Diu_Daman',
 'Daman And Diu_Diu': 'Daman and Diu_Diu',
 'Gujarat_Dohad': 'Gujarat_Dahod',
 'Jammu And Kashmir_J&K District 1': 'Jammu and Kashmir_Rajouri',
 'Jammu And Kashmir_Jammu': 'Jammu and Kashmir_Jammu',
 'Jammu And Kashmir_Kathua': 'Jammu and Kashmir_Kathua',
 'Jammu And Kashmir_Udhampur': 'Jammu and Kashmir_Udhampur',
 'Jharkhand_Saraikela-Kharsawan': 'Jharkhand_Saraikela-kharsawan',
 'Karnataka_Chikkaballapura': 'Karnataka_Chikballapura',
 'Maharashtra_Mumbai': 'Maharashtra_Mumbai City',
 'Nct Of Delhi_West': 'NCT of Delhi_West',
 'Telangana_Rangareddy': 'Telangana_Ranga Reddy',
 'Uttar Pradesh_Ayodhya': 'Uttar Pradesh_Faizabad',
 'Uttar Pradesh_Bara Banki': 'Uttar Pradesh_Barabanki',
 'Uttar Pradesh_Kansiram Nagar': 'Uttar Pradesh_Kasganj',
 'Uttar Pradesh_Kheri': 'Uttar Pradesh_Lakhimpur Kheri',
 'Uttar Pradesh_Mahamaya Nagar': 'Uttar Pradesh_Hathras',
 'Uttar Pradesh_Prayagraj': 'Uttar Pradesh_Allahabad',
 'Uttar Pradesh_Sant Ravi Das Nagar(Bhadohi)': 'Uttar Pradesh_Sant Ravi Das Nagar',
 'Uttar Pradesh_Shrawasti': 'Uttar Pradesh_Shravasti'}

In [17]:
Districts = final_df.copy()
Districts = Districts.drop('Nct Of Delhi')
ind = Districts.reset_index().apply(lambda di: di[0] + '_' + di[1], axis = 1)
ind = ind.replace(guy)
ind.index = Districts.index
Districts.index = ind
Districts = Districts.append(States.iloc[-11])
Districts.sample()

Year                            1996          1997          1998         1999  \
Monsoon                          Pre   Post    Pre   Post    Pre   Post   Pre
Jharkhand_Saraikela-kharsawan  7.654  3.894  7.708  3.502  3.866  2.984  7.29

Year                                   2000         ... 2015          2016  \
Monsoon                         Post    Pre   Post  ...  Pre   Post    Pre
Jharkhand_Saraikela-kharsawan  2.668  6.492  4.812  ...  7.0  5.255  7.135

Year                                     2017            2018            \
Monsoon                            Post   Pre      Post   Pre      Post
Jharkhand_Saraikela-kharsawan  4.828333  7.77  4.766667  6.53  3.436667

Year                               2019
Monsoon                             Pre   Post
Jharkhand_Saraikela-kharsawan  7.828333  4.375

[1 rows x 48 columns]

In [18]:
Districts.to_csv('../Data/Districts.csv')